Bank Immigration Letter

December 21, 2055

Jennifer Amado
3798 Allison Avenue,

Norfolk, VA 23504


Dear Ms. Amado,

 

We at Global Finance Bank acknowledge your need for a bank immigration letter. We understand that this document is vital for your immigration process, and we assure you that we are committed to providing the necessary information.

 

Kindly find enclosed with this letter the official statement confirming that you have been maintaining an active bank account with us at Global Finance Bank. This document validates that you have been our esteemed customer since January 15, 2050, and that your banking conduct has been satisfactory.

 

We trust that the enclosed document will suffice for your immigration purposes. If additional information is required, please feel free to reach out to us via email or telephone.

 

Sincerely,

 

Bertha Anderson