<!DOCTYPE html>
<html>
<head>
    <title>SOP</title>
    <style>
            body {
                font-family: Arial, sans-serif;
                font-size: 15px;
                line-height: 2;
                margin: 40px;
            }
            .greeting {
                margin-bottom: 20px;
            }
            .closing {
                margin-top: 30px;
            }
            .signature {
                margin-top: 10px;
            }
    </style>
</head>
<body>
    <h2>STATEMENT OF PURPOSE</h2>
    <p class="greeting">
        Dear, Admissions Committee,
    </p>
    <p>
        {{sop}}
    </p>
    <P class="closing">
        Yours sincerely,<br>
    </P>
    <p class="signature">
        {{mr}} {{firstname}} {{lastname}}
    </p>
</body>
</html>
